@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.notification {
    font-size: large;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(168, 43, 43, 0.8);
    padding: 10px;
}
body {
    background: linear-gradient(to right, rgb(110, 74, 110), white, rgb(92, 80, 92));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 {
    color: #fff;
    position: relative;
    padding-bottom: 10%;
    border-radius: 20px;
    margin: 10px;
    max-height: 700px;
    height: 100%;
    max-width: 600px;
    width: 100%;
    padding: 15px 25px 25px;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}
.notifications-container ul{
    list-style-type: none;
    padding: 0;
}
.notifications-container ul li {
    margin-bottom: 15px;
}
.container2 {
    border-radius: 30px 0px 0px 30px;
    position: relative;
    max-height: 700px;
    height: 100%;
    max-width: 200px;
    width: 100%;
    padding: 15px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
header {
    color: #fff;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.input_field {
    position: relative;
    height: 45px;
    margin-top: 15px;
    width: 100%;
}
.input_field.captch_box {
    margin-right: 10px;
}
.input_field button {
    position: relative;
    top: 50%;
    right: 10px;
    font-size: 16px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.8);
    height: 70px;
    width: 170px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.input_field button:active {
    transform: translateY(-50%) scale(0.8);
}
.cart {
    flex: 1;
    margin-right: 10px;
    font-size: 12px;
    margin: 14px 0;
    color: green;
    display: none;
}
.cart.active {
    display: block;
}
